Repository thomasvincent/cloudflare-ufw-sync, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, source, workflows, docker, configuration

.github/labeler.yml:

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'requirements.txt'
  - 'pyproject.toml'
  - 'setup.py'

tests:
  - 'tests/**/*'

source:
  - 'src/**/*'

workflows:
  - '.github/workflows/**/*'

docker:
  - 'Dockerfile'
  - 'docker-compose.yml'

configuration:
  - 'config/**/*'

fix: resolve mypy type checking errors in configuration and sync components
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

fix: resolve mypy type checking errors
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

chore: update mypy.ini with additional settings
  mypy.ini
Labels: none

chore: add comment to improve code readability
  src/cloudflare_ufw_sync/ufw.py
Labels: source

ci: update workflow triggers to run on feature and fix branches
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Labels: workflows

fix: resolve remaining mypy type errors
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
Labels: source

fix: resolve type errors and docstring issues
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source, workflows

fix: resolve remaining type error in config.py
  mypy.ini
  src/cloudflare_ufw_sync/config.py
Labels: source

fix: resolve mypy type errors with proper type annotations and conversions
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

fix: resolve mypy type errors with proper type annotations and conversions
  mypy.ini
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

fix: resolve mypy type errors and docstring issues
  mypy.ini
  src/cloudflare_ufw_sync/__init__.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

fix: workflow token and add tox.ini for local CI testing
  .github/workflows/auto_assign_project.yml
  tox.ini
Labels: workflows

docs: add tox usage instructions to README
  README.md
Labels: documentation

Update src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/sync.py
Labels: source

Update src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/config.py
Labels: source

fix: add missing utility functions for type conversion
  src/cloudflare_ufw_sync/sync.py
Labels: source

fix: improve type hints in sync.py to fix Python 3.10 test failures
  src/cloudflare_ufw_sync/sync.py
Labels: source

fix: workflow token and add tox.ini for local CI testing (#19)
  .github/workflows/auto_assign_project.yml
  README.md
  mypy.ini
  src/cloudflare_ufw_sync/__init__.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
  tox.ini
Labels: documentation, source, workflows

fix: resolve merge conflicts in PR #18
  branch_protection.json
Labels: none

chore: clean up repository
  branch_protection.json
Labels: none

chore: add placeholder for PR
  fix.txt
Labels: none

chore: harmonize configuration files (#21) chore: add placeholder for PR
  fix.txt
Labels: none

chore: harmonize configuration files (#21)
  fix.txt
Labels: none

style: apply Google Python Style Guide to codebase
  PYTHON_STYLE_CHANGES.md
  src/cloudflare_ufw_sync/__init__.py
  src/cloudflare_ufw_sync/cli.py
  src/cloudflare_ufw_sync/cloudflare.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/domain/exceptions.py
  src/domain/models.py
Labels: documentation, source

style: apply Google Python Style Guide to remaining files
  PYTHON_STYLE_CHANGES.md
  src/application/config_manager.py
  src/application/sync_service.py
  src/cloudflare_ufw_sync/ufw.py
  src/infrastructure/cloudflare_client.py
  src/infrastructure/ufw_manager.py
  src/interfaces/cli.py
Labels: documentation, source

chore: update Dependabot configuration
  .github/dependabot.yml
Labels: none

docs: update README with accurate information and additional sections
  README.md
Labels: documentation

chore: release version 1.0.0
  CHANGELOG.md
  setup.py
  src/cloudflare_ufw_sync/__init__.py
  test_functionality.py
Labels: documentation, dependencies, source

chore: release version 1.0.0 - Bump version from 0.1.0 to 1.0.0 - Update CHANGELOG with release notes - Mark as production-ready stable release - First major version with stable API
  CHANGELOG.md
  setup.py
  src/cloudflare_ufw_sync/__init__.py
  test_functionality.py
Labels: documentation, dependencies, source

feat: add pre-commit hooks for python
  .pre-commit-config.yaml
  .secrets.baseline
Labels: none

chore: bump actions/checkout from v5 to v6
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/semver.yml
  .github/workflows/tests.yml
Labels: workflows

chore: bump actions/checkout from v2/v3/v4/v5 to v6
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/semver.yml
  .github/workflows/tests.yml
Labels: workflows

fix: disable auto-assign-to-project workflow The workflow requires ADD_TO_PROJECT_PAT secret which is not configured. Disabling until properly configured.
  .github/workflows/auto_assign_project.yml.disabled
Labels: workflows

docs: add architecture diagram to README
  README.md
  architecture.png
Labels: documentation

chore: update dependencies and Dockerfile
  Dockerfile
  requirements.txt
Labels: dependencies, docker

docs: add witty human-readable comments to Python code
  src/cloudflare_ufw_sync/cloudflare.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
Labels: source

style: auto-format code with black
  src/application/config_manager.py
  src/application/sync_service.py
  src/cloudflare_ufw_sync/__init__.py
  src/cloudflare_ufw_sync/cli.py
  src/cloudflare_ufw_sync/cloudflare.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
  src/domain/exceptions.py
  src/domain/models.py
  src/infrastructure/cloudflare_client.py
  src/infrastructure/ufw_manager.py
Labels: source

chore: satisfy lint and type checks\n\n- black/isort formatting across src and tests\n- mypy: set python_version=3.9, annotate ConfigManager.config\n\nCo-Authored-By: Warp <agent@warp.dev>
  mypy.ini
  src/application/config_manager.py
  src/application/sync_service.py
  src/cloudflare_ufw_sync/__init__.py
  src/cloudflare_ufw_sync/cli.py
  src/cloudflare_ufw_sync/cloudflare.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
  src/domain/exceptions.py
  src/domain/models.py
  src/infrastructure/cloudflare_client.py
  src/infrastructure/ufw_manager.py
  tests/__init__.py
  tests/conftest.py
  tests/unit/__init__.py
  tests/unit/test_cli.py
  tests/unit/test_cloudflare.py
  tests/unit/test_cloudflare_client.py
  tests/unit/test_config.py
  tests/unit/test_config_manager.py
  tests/unit/test_domain_exceptions.py
  tests/unit/test_sync_service.py
  tests/unit/test_ufw_manager.py
Labels: tests, source

Add human-friendly tests + Docker testing instructions (#39)
  .github/workflows/tests.yml
  Makefile
  README.md
  mypy.ini
  src/application/config_manager.py
  src/application/sync_service.py
  src/cloudflare_ufw_sync/cli.py
  src/cloudflare_ufw_sync/cloudflare.py
  src/cloudflare_ufw_sync/config.py
  src/cloudflare_ufw_sync/sync.py
  src/cloudflare_ufw_sync/ufw.py
  tests/__init__.py
  tests/conftest.py
  tests/unit/__init__.py
  tests/unit/test_cli.py
  tests/unit/test_cloudflare.py
  tests/unit/test_cloudflare_client.py
  tests/unit/test_config.py
  tests/unit/test_config_manager.py
  tests/unit/test_domain_exceptions.py
  tests/unit/test_domain_models.py
  tests/unit/test_sync_service.py
  tests/unit/test_ufw_manager.py
Labels: documentation, tests, source, workflows

feat(ci): add Dependabot auto-merge configuration
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: workflows
